/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    color: rgb(225, 239, 230);
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p,
a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(225, 239, 230);
    text-align: center;
}

header #header-area {
    background-color: rgba(0, 0, 0, 0.607);
    height: 26vh;
}


header div h1 a {
    color: white;
    font-size: 6.3rem;
}

header nav a {
    margin: 7%;
    font-size: 2rem;
    text-decoration: none;
}

#sosyal a {
    margin-left: 4%;

}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}

.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

.menu #menu-bg{
    background-color: rgb(0, 4, 17, .8);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu h2{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.menu #menu-item-container{
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
    width: 95%;
}

.menu .menu-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
}

.menu .menu-item h3{
    font-size: 3.3rem;
}

.menu .menu-item .menu-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu .menu-item .menu-row h4{
    font-size: 3rem;
}

.menu .menu-item .menu-row .price{
    font-size: 3rem;
}

.menu .menu-item p {
    font-size: 2rem;
    padding-bottom: 3%;
}

.menu #deserts{
    margin: 0 auto;
}

/* footer section */
footer {
    width: 100%;
    height: 23vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    display: flex;
    border-top: 1px solid #fff;
}

footer #signup {
    width: 30%;
    justify-content: flex-start;
    padding: 2%;
    text-align: center;
}

footer #signup input {
    width: 70%;
    height: 5vh;
}

footer #signup button {
    width: 28%;
    height: 5vh;
    padding: 0;
    text-align: center;
    color:black;
}

footer #nav-copy {
    width: 70%;
    justify-content: flex-end;
}

footer nav a {
    margin: 6%;
    font-size: 2.5rem;
}

footer #copyright {
    color: white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 15%;
    padding-top: 7%;
}

/* mobile media query */
@media (max-width: 428px) {

    /* header section */
    /* header section */
    header {
        flex-direction: column;
        justify-content: center;
    }

    header #header-area h1 a {
        font-size: 3rem;
        width: 66%;
        margin: 0 auto;
    }

    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    header nav a {
        text-align: center;
        padding: 0;
        margin: 1%;
    }

    header #header-area {
        height: 36vh;
    }

    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    /* menu */
    .menu {
        background-image: none;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
    }

    footer #signup {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5%;
    }

    footer #signup input {
        width: 100%;
    }

    footer #signup button {
        width: 100%;
    }

    footer #nav-copy {
        width: 100%;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    footer nav a {
        text-align: center;
        padding: 0;
        margin: 1%;
    }

    footer #copyright {
        text-align: center;
        font-size: 1.3rem;
        padding-bottom: 2%;
    }
}